# About this notebook
<p style="text-align: justify"> Here, you will learn the basic coding and data structures including numbers, strings, list, dictionaries and more. Some codes already done for demonstration. Some other codes, you will do as excercises.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing ID at the beigining of the file name. </p><p><b>Example: 20-45961-3 Lab 01.ipynb</b></p>
<p> 3. Other file format (except .pynb) or link will not be accepted.</p>

# **INSTRUCTION**

# Number

In [ ]:
# basic numeric operations
32 - 18

14

In [ ]:
# classic division returns a float
32/8

4.0

In [ ]:
# floor division discards the fractional part
52 // 6

8

In [ ]:
# assigin value to variable for later use
a = 500 / 10
print(a)

50.0

In [ ]:
# use the variable a for further operations
b = a*5
print(b)

250.0

In [ ]:
a=2 ** 10
print(a)

1024

<b>Exercise 1:</b> Assign values to some variables and perform different operations. Also print the results.

In [ ]:
# code here
t=800
b=8
z=t/b
print(z)

100.0

# Import Module
<p style="text-align: justify"> Python code in one module gains access to the code in another module by the process of importing it. The import statement is the most common way of invoking the import machinery.</p>

<p style="text-align: justify">Python’s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality such as file I/O that would otherwise be inaccessible to Python programmers, as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. Some of these modules are explicitly designed to encourage and enhance the portability of Python programs by abstracting away platform-specifics into platform-neutral APIs.</p>

<b> Example:</b> Python has a built-in module that you can use for mathematical tasks. The math module has a set of methods and constants. The detail documentation can be found [here](https://docs.python.org/3/library/math.html).

In [ ]:
# importing the math module
import math
# accessing the constant π from math
print(math.tau)
print(math.pi)

6.283185307179586
3.141592653589793

In [ ]:
# using the method sqrt from math
math.sqrt(16)

4.0

In [ ]:
math.factorial(6)

720

In [ ]:
math.prod([5,7,9])

315

<b>Remember:</b> A cell always outputs the value of last variable. If you want to show other values use print. See the below cell for an example.

In [ ]:
print(1+2)
print(a*4)
print(a/b)

3
4096
128.0

<b>Exercise 2:</b> Import a module of your choice (other than math) and show some operations.<br>
You can find one from all python module list [Click here](https://docs.python.org/3/py-modindex.html).

In [ ]:
# code here
import random
print(random.randint(32,63))

62

# Object types
The basic object types are Numbers, Strings, Lists, Dictionaries, Tuples, Files and Other types (Sets, types, None, Booleans etc.)

In [ ]:
a=18.23

In [ ]:
# Checking the type of an object
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

In [ ]:
c = 12
print(type(c))

<class 'int'>

In [ ]:
d = '6yt'
print(type(d))

<class 'str'>

In [ ]:
c = 72.90
print(type(c))

<class 'float'>

In [ ]:
a = 32
d = 10.12+a
print(type(d))

<class 'float'>

# String

In [ ]:
# assign value to a variable. The value can be qouted using '' or ""
s = "Germany"
print(s)

Germany

In [ ]:
# index
s[3]

'm'

In [ ]:
# negative index
s = "Tridib"
s[-2]

'i'

When to use ' ' or " " ?

string operations with * and +

In [ ]:
'Tridib ' * 6

'Tridib Tridib Tridib Tridib Tridib Tridib '

In [ ]:
name='Good'
name*4

'GoodGoodGoodGood'

In [ ]:
'Tridib ' + 'Sarkar'

'Tridib Sarkar'

In [ ]:
name + ' hasan'

'Good hasan'

In [ ]:
# slicing
name = 'Tridib Sarkar'
print(name[3:9])
print(name[5:])
print(name[:6])
print(name[-2:])
print(name[1:7:1])
print(name[-1: :-1])

dib Sa
b Sarkar
Tridib
ar
ridib
rakraS bidirT

In [ ]:
name[-6:-3]

'Sar'

In [ ]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Some examples of string methods

In [ ]:
name = 'Tridib Sarkar Turzo'
sub = 'Ka'
name.count(sub)

0

In [ ]:
help(name.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [ ]:
print(name.split()[-1])

Turzo

In [ ]:
name.islower()

False

In [ ]:
mystring = 'I am good\nHe is bad\nThis is good'
mystring.splitlines()

['I am good', 'He is bad', 'This is good']

In [ ]:
mystring = 'I am fine\nGood Morning\nThank You'
mystring.split(' ')

['I', 'am', 'fine\nGood', 'Morning\nThank', 'You']

In [ ]:
separator = '??'
mystrings = ['Cat', 'Dog', 'Goat', 'Ant']
separator.join(mystrings)

'Cat??Dog??Goat??Ant'

In [ ]:
help(mystring.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [ ]:
len(name)

19

In [ ]:
# check which functions you can use with variable 'name'
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
help(name.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

<b>Exercise 3:</b> Demonstrate some string operations. Also, show uses of some string methods.

In [ ]:
# Code here
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)

str1 = "Hi! "
result = str1 * 3
print(result)

str1 = "Python"
print(len(str1))

str1 = "Hello World"
result = str1[0:5]
print(result)

Hello World
Hi! Hi! Hi!
6
Hello

# List
<p style="text-align: justify">Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.</p>

In [3]:
squares = [2, 4, 9, 18, 32]
squares

[2, 4, 9, 18, 32]

In [4]:
data = [2, 'abc', ['bcd', 52800] ,72.5, 'gggg']
data.insert(2,6)
print(data)

[2, 'abc', 6, ['bcd', 52800], 72.5, 'gggg']

Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [5]:
data[-3][1]

52800

In [6]:
data[-1]

'gggg'

In [7]:
data[1:3]

['abc', 6]

In [8]:
data[3]

['bcd', 52800]

In [9]:
data[3][0]

'bcd'

In [10]:
len(data)

6

In [11]:
data

[2, 'abc', 6, ['bcd', 52800], 72.5, 'gggg']

Some list methods

In [12]:
data = [21, 'Manager', ['Manager', 12] ,6.60, 'Dhaka']
data.append(55)
print(data)

[21, 'Manager', ['Manager', 12], 6.6, 'Dhaka', 55]

In [13]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.insert(2,10)
print(data)

[21, 'Manager', 10, ['Manager', 89000], 4.5, 'Dhaka']

In [14]:
data = [21, 'Manager', ['Manager', 89000], 4.50, 'Dhaka']
data.remove('Manager')
print(data)

[21, ['Manager', 89000], 4.5, 'Dhaka']

In [15]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.pop()
print(data)

[21, 'Manager', ['Manager', 89000], 4.5]

In [16]:
dir(data)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [17]:
help(data.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

Lists also support operations like concatenation

In [18]:
squares + data

[2, 4, 9, 18, 32, 21, 'Manager', ['Manager', 89000], 4.5]

<b> Exercise 4:</b> Implement stack using list
<p><b>Hints:</b> The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index</p>

In [22]:
stack = []

stack.append(23)
stack.append(32)
stack.append(12)

print("Stack after pushing elements:", stack)

top_element = stack.pop()
print("Popped element:", top_element)
print("Stack after popping an element:", stack)

Stack after pushing elements: [23, 32, 12]
Popped element: 12
Stack after popping an element: [23, 32]

<b> Exercise 5:</b> Implement queue using list
<p><b>Hints:</b> It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”)</p>

In [23]:
queue = []

queue.append(12)
queue.append(23)
queue.append(32)

print("Queue after enqueueing elements:", queue)

first_element = queue.pop(0)
print("Dequeued element:", first_element)
print("Queue after dequeuing an element:", queue)

Queue after enqueueing elements: [12, 23, 32]
Dequeued element: 12
Queue after dequeuing an element: [23, 32]

# Dictionary
<p style="text-align: justify">Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.</p>

<p style="text-align: justify">It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.</p>

In [29]:
tel = {'oppen': 4550, 'heimer': 6000}

In [31]:
list(tel.keys())[0]

'oppen'

In [33]:
tel['guido'] = 7000
tel

{'oppen': 4550, 'heimer': 6000, 'guido': 7000}

In [35]:
person = {'Age':23,'Name':['tridib','sarkar'], 'Salary':60000, 'Rating':4.00}

In [39]:
person['Age']

23

In [40]:
len(person)

4

In [41]:
person.keys()

dict_keys(['Age', 'Name', 'Salary', 'Rating'])

In [42]:
#person.has_key('Name')
'Name' in person.keys()

True

In [44]:
'turzo' in person['Name']

False

In [45]:
dir(person)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

<b> Exercise 6:</b> Define a dictionary to store the details of persons. Also, print some data from the dictionary.
 <p><b>Hint:</b> You may require nesting dictionary, lists, string inside the dictionary.</p>

In [48]:
people = {
    'person1': {
        'Name': 'ABC',
        'Age': 30,
        'Salary': 50000,
        'Skills': ['Python', 'Java']
    },

    'person2': {
        'Name': 'BCD',
        'Age': 25,
        'Salary': 45000,
        'Skills': ['HTML', 'CSS']
    }
}

print("Details of Person 1:")
print("Name:", people['person1']['Name'])
print("Age:", people['person1']['Age'])
print("Salary:", people['person1']['Salary'])
print("Skills:", people['person1']['Skills'])

print("\nDetails of Person 2:")
print("Name:", people['person2']['Name'])
print("Age:", people['person2']['Age'])
print("Salary:", people['person2']['Salary'])
print("Skills:", people['person2']['Skills'])

Details of Person 1:
Name: ABC
Age: 30
Salary: 50000
Skills: ['Python', 'Java']

Details of Person 2:
Name: BCD
Age: 25
Salary: 45000
Skills: ['HTML', 'CSS']

# Tuples and Sets
<b>Exercise 7: (Optional)</b> Use the content from [here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) to follow some examples on tuple and set.

In [58]:
my_tuple = (1, 2, 3, 'apple', 'banana')

print("My Tuple:", my_tuple)

My Tuple: (1, 2, 3, 'apple', 'banana')

In [59]:
first_element = my_tuple[0]
print("First element:", first_element)

First element: 1