# Example of Number operations

In [1]:
1 + 77

78

In [2]:
a = 677 / 22
print(a)

30.772727272727273

In [3]:
b = a*5
print(b)

153.86363636363637

In [4]:
5 ** 5

3125

# Import Class

In [8]:
import math
math.pi

3.141592653589793

In [10]:
math.sqrt(15)

3.872983346207417

In [5]:
print(3+7)
print(a*4)
print(a/b)

10
123.0909090909091
0.19999999999999998

# Check object type

In [6]:
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In [7]:
c = 1
print(type(c))

<class 'int'>

In [8]:
d = 'jannat'
print(type(d))

<class 'str'>

# Example of String operations

In [9]:
name = 'Jannatul "ferdous'
print(name)

Jannatul "ferdous

In [10]:
name = "Jannatul 'ferdous"
print(name)

Jannatul 'ferdous

In [11]:
'umama ' * 8

'umama umama umama umama umama umama umama umama '

In [12]:
'jannatul '+'ferdous'

'jannatul ferdous'

In [13]:
name = 'Jannatul ferdous umama'
sub = 'ma'
name.count(sub)

2

In [14]:
name[1:7]

'annatu'

In [15]:
name[-4:]

'mama'

In [16]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [17]:
name.islower()

False

In [19]:
mystring = 'I am jannatul\nI am fine\nWhat about you?'
mystring.splitlines()

['I am jannatul', 'I am fine', 'What about you?']

In [20]:
separator = '=='
mystrings = ['Jannatul', 'Ferdous', 'umama']
separator.join(mystrings)

'Jannatul==Ferdous==umama'

In [38]:
help(mystring.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

# List

In [21]:
data = [123,['jannat', 54134], 7.88, 'Rangpur']

In [22]:
data[1]

['jannat', 54134]

In [23]:
data[0:5]

[123, ['jannat', 54134], 7.88, 'Rangpur']

In [24]:
data[2]

7.88

In [26]:
data[1][0]

'jannat'

In [29]:
len(data)

4

In [28]:
data[-2]

7.88

In [30]:
data

[123, ['jannat', 54134], 7.88, 'Rangpur']

In [31]:
data.append(100)
print(data)

[123, ['jannat', 54134], 7.88, 'Rangpur', 100]

In [48]:
data.remove(100)
print(data)

[123, ['jannat', 54134], 'Rangpur']

In [43]:
data.pop(2)
print(data)

[123, ['jannat', 54134], 'Rangpur', 100]

In [66]:
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Dictionary

In [49]:
person = {'Age':18,'Name':['jannatul','ferdous'], 'Salary':12222, 'Rating':6.50}

In [50]:
person['Rating']

6.5

In [51]:
len(person)

4

In [52]:
#person.has_key('Name')
'Name' in person.keys()

True

In [54]:
'jannatul' in person['Name']

True

In [55]:
dir(person)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']