# User Input

In [1]:
a = 60
print(a)

60

In [2]:
a = input() # always returns string
print(a)

umama
umama

In [3]:
a = int(input('Enter a number: ')) # always returns string
print(a + 23)

Enter a number: 89
112

In [4]:
name = input('Enter your name: ') # always returns string
print('Your name is ' + name)

Enter your name: Jannatul
Your name is Jannatul

# Loop

In [6]:
numbers = [11, 22, 33, 44]

for n in numbers:
    print(n)
    print('ok')
print('not')

11
ok
22
ok
33
ok
44
ok
not

In [7]:
for i in range(len(numbers)):
    print(numbers[i])

11
22
33
44

In [10]:
# for(i=0; i<10; i++){}
# range
for i in range(1,200,3):
    print(i, end = ' ')

1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88 91 94 97 100 103 106 109 112 115 118 121 124 127 130 133 136 139 142 145 148 151 154 157 160 163 166 169 172 175 178 181 184 187 190 193 196 199

In [11]:
# print even number
for i in range(0,50,3):    
    print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [12]:
# print even number
for i in range(20):  
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18

In [13]:
# print even number
for i in range(20):  
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [16]:
# indent
i = 4
if i < 5: # () not required, {} not required
    print('okay')
    print('fine')
else:
    print('bad')
print('not okay') # will be executed in each run

okay
fine
not okay

In [17]:
# loop
for i in range(1,100,20):
    print(i)
    print("ok")
print("done")

1
ok
21
ok
41
ok
61
ok
81
ok
done

In [20]:
Jannatul = "bangladesh"
for c in 'Jannatul': 
    print(c,end='\n')

J
a
n
n
a
t
u
l

In [21]:
Jannatul = "bangladesh"
for c in 'Jannatul': 
    print(c,end='')

Jannatul

# IF, IF ELSE, ELSE IF

In [24]:
# if
a = 8
if a > 2:
    print ('greater')

greater

In [27]:
# if-else
a = 10
if a > 9:
    print ('greater')
else:
    print( 'smaller')

greater

In [28]:
a = 89
if a < 30:
    print('small')
elif a < 60:
    print('medium')
elif a < 90:
    print('larger')
else:
    print('out of range')

larger

# Method

In [31]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [32]:
addnumbers(2, 10) # use or call method

12

In [34]:
addnumbers(40, 66)

106

In [35]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum + n
    return sum

In [36]:
v = [1, 2,3, 4]
addValues(v)

10

In [37]:
v = [5, 6,1, 7, 5, 4,19, 7, 5, 4,12, 7]
addValues(v)

82

In [63]:
# task: write a method which will add numbers of two different lists
# returns another list
# Example:
# [3,4,5,1]
# [6,7,2,8]
# output: [9,11,7,9]

In [58]:
# add two different lists values
list1=[3,4,5,1]
list2=[6,7,2,8]
list( map(add, list1, list2) )

[9, 11, 7, 9]

In [59]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}X{}={}".format(n,i,n*i))

In [60]:
multiTable(11,10)

11X1=11
11X2=22
11X3=33
11X4=44
11X5=55
11X6=66
11X7=77
11X8=88
11X9=99
11X10=110

In [61]:
multiTable(7)

7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
7X10=70

In [ ]:
# task
# define a method to print first name and last name from full name

# ex: input: Arafat Rahman 
# output: 
#first name: Arafat
#last name: Rahman

# getNames('Arafat Rahman')
 def getNames():
        #define logic

In [70]:
def name(first_name, last_name):
    return first_name + ' ' + last_name

full_name = name('Arafat','Rahman')
print(full_name)

Arafat Rahman

In [87]:
def getNames(name):
    first, *last = name.split()
    print("First Name: {first}".format(first=first))
    print("Last Name: {last}".format(last=" ".join(last)))

In [88]:
getNames('Arafat Rahman')

First Name: Arafat
Last Name: Rahman

## Lesson 2 (String)

In [98]:
S = 'spammy'
S = S[:3] + 'xx' + S[5:]
S

'spaxxy'

In [92]:
S = 'spammy'
L = list(S)
L

['s', 'p', 'a', 'm', 'm', 'y']

## Lesson 3 (List and Dictionaries)

In [81]:
L = []
L.append(1) # Push onto stack
L.append(2)
L
[1, 2]
L.pop( ) # Pop off stack
2
L
[1]

[1]

In [100]:
L
['SPAM!', 'eat', 'more', 'please']
del L[0] # Delete one item
L
['eat', 'more', 'please']
del L[1:] # Delete an entire section
L # Same as L[1:] = []
['eat']

['eat']

# Lesson 4 (Tuples)

In [83]:
T = (1, 2, 3, 4, 5)
L = [x + 20 for x in T]
L

[21, 22, 23, 24, 25]