# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, submit the notebook (.ipynb file) to corresponding Intern through Microsoft Teams</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your ID at the beigining of the file name.</p>
<p> 3. Other file format will not be accepted.</p>

# User Input

In [5]:
a = 450
print(a)

450

In [4]:
inp = input()
print(inp)

20
20

In [7]:
val = input('Enter a value: ') # always returns string
print('The given value is '+ val)
print(type(val))

Enter a value: 45.5
The given value is 45.5
<class 'str'>

In [10]:
a = int(input('Enter a number: ')) # returns string but converted to int
print('The result is', a+11)
print(type(a))

Enter a number: 45
The result is 56
<class 'int'>

In [17]:
while True:
  a = input('Enter your Birth Year:') #Input must be digits and valid.
  if a.isdigit():
    print('You are ' + str(2023-int(a)) + ' years old')
    print(2023-int(a))
    break
  print('WRONG INPUT')

Enter your Birth Year:2002
You are 21 years old
21

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [19]:
# indent
i = 20
if i < 150: # () not required, {} not required
  print('okay')
  print('fine')
else:
  print('bad')
print('not okay') # will be executed in each run

okay
fine
not okay

In [30]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: -32
Negative changed to zero

<b>Exercise 1:</b> Input a course mark (0-100) from user and use the <b>if</b> statement to print corresponding grade.

In [29]:
# code here
# Get user input for the course mark
cour_mark = int(input("Enter the course mark (0-100): "))

# Check the range of the course mark
if cour_mark < 0 or cour_mark > 100:
    print("Invalid input!!! Course mark must be between 0 and 100.")
else:
    if cour_mark >= 90:
        print("Your grade is: A+")
    elif cour_mark >= 85:
        print("Your grade is: A")
    elif cour_mark >= 80:
        print("Your grade is: B+")
    elif cour_mark >= 75:
        print("Your grade is: B")
    elif cour_mark >= 70:
        print("Your grade is: C+")
    elif cour_mark >= 65:
        print("Your grade is: C")
    elif cour_mark >= 60:
        print("Your grade is: D+")
    elif cour_mark >= 50:
        print("Your grade is: D")
    else:
        print("Your grade is: F")

Enter the course mark (0-100): 90
Your grade is: A+

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [33]:
# Measure some strings:
words = ['Cat', 'Dog', 'Cow', 'Fish']
for a in words:
    print('the word is:',a)

the word is: Cat
the word is: Dog
the word is: Cow
the word is: Fish

In [35]:
words = ['Cat', 'Dog', 'Cow', 'Fish', 'Bird']
for i in range(len(words)):
    print('the word is:',words[i])

the word is: Cat
the word is: Dog
the word is: Cow
the word is: Fish
the word is: Bird

In [38]:
numbers = [2, 4, 6, 8, 10]
for n in numbers:
    print(n+2)

4
6
8
10
12

### The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [39]:
# repeated for 0 to 4
# for(i=0;i<5;i++)
for i in range(0,50,5):
    print(i)

0
5
10
15
20
25
30
35
40
45

<p style="text-align: justify">The given end point is never part of the generated sequence; range(10) generates 10 values, the legal indices for items of a sequence of length 10. It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’):</p>

In [42]:
list(range(5, 20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [43]:
list(range(0, 50, 6))

[0, 6, 12, 18, 24, 30, 36, 42, 48]

In [46]:
list(range(30, 3, -3))

[30, 27, 24, 21, 18, 15, 12, 9, 6]

In [49]:
list(range(-5, -105, -25))

[-5, -30, -55, -80]

In [50]:
for i in range(len(numbers)):
    print(i, numbers[i])

0 2
1 4
2 6
3 8
4 10

In [52]:
for i in range(4,400,12):
    print(i,end=',')

4,16,28,40,52,64,76,88,100,112,124,136,148,160,172,184,196,208,220,232,244,256,268,280,292,304,316,328,340,352,364,376,388,

<b>Exercise 2:</b> Print all the even numbers between 0 to 100 using <b>for loop</b> and <b>range</b>.

In [54]:
# code here
for number in range(0, 101, 2):
     print(number,end=',')

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [58]:
country = "I am From Bangladesh"
for i in country:
    print(i,end=' ')

I   a m   F r o m   B a n g l a d e s h

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [59]:
def operate(a, b):
  print(str(a) + ' + ' + str(b) + ' = ' + str(a+b))
  print(str(a) + ' - ' + str(b) + ' = ' + str(a-b))
  print(str(a) + ' x ' + str(b) + ' = ' + str(a*b))
  print(str(a) + ' / ' + str(b) + ' = ' + str(a/b))

In [61]:
operate(450,80)

450 + 80 = 530
450 - 80 = 370
450 x 80 = 36000
450 / 80 = 5.625

In [62]:
operate(21,12)

21 + 12 = 33
21 - 12 = 9
21 x 12 = 252
21 / 12 = 1.75

In [66]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 1, 2
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
        #print()

In [67]:
# Now call the function we just defined:
fib(200)

1 2 3 5 8 13 21 34 55 89 144

In [74]:
# define method
def addnumbers(a, b, c): # add numbers and return result
    # logic
    z = a + b + c
    return z

In [75]:
addnumbers('21-','45080', '-2')

'21-45080-2'

In [81]:
y = addnumbers('21-', '45080', '-2') # use or call method
print(y)

21-45080-2

In [83]:
addnumbers([22, 33], [44], [55])

[22, 33, 44, 55]

In [86]:
# add list values
def addValues(num):
    sum = 10
    for n in num:
        sum = sum + n
    return sum

In [121]:
addValues([10])

20

In [91]:
addValues((2,4,6))

22

In [93]:
v = [4, 6,5, 15]
addValues(v)

40

In [94]:
v = [2, 4,14, 5, 5, 10,10, 15, 3, 2,13, 7]
addValues(v)

100

In [95]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}x{}={}".format(n,i,n*i))

In [97]:
multiTable(3)

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30

In [99]:
multiTable(9)

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [134]:
# code here
def add_lists(list1, list2):
  return [x + y for x, y in zip(list1, list2)]

list1 = [3, 4, 5, 1]
list2 = [6, 7, 2, 8]
sum = add_lists(list1, list2)
print(sum)

[9, 11, 7, 9]

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [118]:
# code here
def names(name):
    name_parts = name.split()
    return name_parts[0], name_parts[-1]
name = input('Enter Your Full Name: ')
print('Your Name is: ' +name)
first_name, last_name = names(name)
print(f"First Name: {first_name}")
print(f"Last Name: {last_name}")

Enter Your Full Name: Faiaz Rahman Fahim
Your Name is: Faiaz Rahman Fahim
First Name: Faiaz
Last Name: Fahim

# Output Formatting (Optional)
Go to the [link](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals) and practice the codes below.

In [ ]:
# code here