# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your ID at the beigining of the file name.</p><p> <b>Example: 20-45961-3 Lab 02.ipynb</b></p>
<p> 3. Other file format (except .pynb) or link will not be accepted.</p>

# User Input

In [ ]:
a = 32
print(a)

32

In [5]:
a = input()
print(a)
print(type(a))

66
66
<class 'str'>

In [6]:
a = input('Enter a value: ') # always returns string
print('The given value is '+ a)
print(type(a))

Enter a value: 72
The given value is 72
<class 'str'>

In [7]:
a = int(input('Enter a number: ')) # returns string but converted to int
print(f'The result is {a+11}')
print(type(a))

Enter a number: 55
The result is 66
<class 'int'>

In [8]:
while True:
  a = input('Enter your Birth Year:')
  if a.isdigit():
    print(f'You are {2024-int(a)} years old')
    break
  print('WRONG INPUT')

Enter your Birth Year:2001
You are 23 years old

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [10]:
# indent
i = 12
if i < 5: # () not required, {} not required
  print('good')
  print('nice')
  print('very')
else:
  print('bad')
print('okay') # will be executed in each run

bad
okay

In [12]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
  print('More')

Please enter an integer: 1
Single

<b>Exercise 1:</b> Input a course mark (0-100) from user and use the <b>if</b> statement to print corresponding grade.

In [13]:
mark = int(input("Enter your course mark (0-100): "))

if mark >= 90:
    print("Grade: A")
elif mark >= 80:
    print("Grade: B")
elif mark >= 70:
    print("Grade: C")
elif mark >= 60:
    print("Grade: D")
elif mark >= 50:
    print("Grade: E")
else:
    print("Grade: F")

Enter your course mark (0-100): 70
Grade: C

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [16]:
# Measure some strings:
cities = ['dinajpur', 'dhaka', 'ctg','rangpur']
for a in cities:
    print(f'the word is:{a}')

the word is:dinajpur
the word is:dhaka
the word is:ctg
the word is:rangpur

In [17]:
list(range(len(cities)))

[0, 1, 2, 3]

In [18]:
cities = ['dinajpur', 'dhaka', 'ctg','rangpur']
for i in range(len(cities)):
    print(f'the word is:{cities[i]}')

the word is:dinajpur
the word is:dhaka
the word is:ctg
the word is:rangpur

In [19]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [ ]:
list(range(4,10,2))

[4, 6, 8]

### The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [21]:
list(range(6,12,2))

[6, 8, 10]

In [23]:
numbers = [1, 6, 8,7]

for n in numbers:
    print(n+10)

11
16
18
17

In [24]:
list(range(3))

[0, 1, 2]

In [28]:
# repeated for 0 to 4
 #for(i=0;i<5;i++)
for i in range(0,12,2):
    print(i)

0
2
4
6
8
10

<p style="text-align: justify">The given end point is never part of the generated sequence; range(10) generates 10 values, the legal indices for items of a sequence of length 10. It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’):</p>

In [30]:
list(range(5, 12))

[5, 6, 7, 8, 9, 10, 11]

In [31]:
list(range(5, 10, 8))

[5]

In [32]:
list(range(20, 3, -2))

[20, 18, 16, 14, 12, 10, 8, 6, 4]

In [33]:
list(range(-6, -200, -30))

[-6, -36, -66, -96, -126, -156, -186]

In [34]:
for i in range(len(numbers)):
    print(i, numbers[i])

0 1
1 6
2 8
3 7

In [35]:
for i in range(2,200,6):
    print(i,end=',')

2,8,14,20,26,32,38,44,50,56,62,68,74,80,86,92,98,104,110,116,122,128,134,140,146,152,158,164,170,176,182,188,194,

<b>Exercise 2:</b> Print all the even numbers between 0 to 100 using <b>for loop</b> and <b>range</b>.

In [37]:
for i in range(0, 101, 2):
    print(i, end=', ')

0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100,

In [38]:
country = "bangladesh"
for xyz in country:
    print(xyz,end=' ')

b a n g l a d e s h

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [39]:
from math import sqrt

def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(sqrt(num)) + 1):
    if num % i == 0:
      return False
  return True

# Check if a few numbers are prime
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11,12,13,14]
for num in numbers:
  if is_prime(num):
    print(f'{num} is a prime')
  else:
    print(f'{num} is not a prime')

2 is a prime
3 is a prime
4 is not a prime
5 is a prime
6 is not a prime
7 is a prime
8 is not a prime
9 is not a prime
10 is not a prime
11 is a prime
12 is not a prime
13 is a prime
14 is not a prime

In [41]:
def fib(n):    # write Fibonacci series up to n
    lst = [0,1]
    a, b = 0, 1
    while True:
        print(a, end=' ')
        a, b = b, a+b
        if b < n:
          lst.append(b)
        else:
          break
        print()
    return lst

In [43]:
# Now call the function we just defined:
r = fib(100)
print(r)

0
1
1
2
3
5
8
13
21
34
55 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [48]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [49]:
addnumbers(6,23)

29

In [50]:
y = addnumbers('40', '90') # use or call method
print(y)

4090

In [52]:
addnumbers([33,7], [6])

[33, 7, 6]

In [53]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum+ n
    return sum

In [54]:
addValues(range(20))

190

In [55]:
addValues([])

0

In [56]:
v = [5, 2, 1]
addValues(v)

8

In [57]:
v = [5, 4,12, 7, 5,4,12, 7]
addValues(v)

56

In [61]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}x{}={}".format(n,i,n*i))

In [62]:
multiTable(2)

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

In [63]:
multiTable(18)

18x1=18
18x2=36
18x3=54
18x4=72
18x5=90
18x6=108
18x7=126
18x8=144
18x9=162
18x10=180

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [65]:
def sumLists(list1, list2):
    return [a + b for a, b in zip(list1, list2)]

list1 = [3, 4, 5, 1]
list2 = [6, 7, 2, 8]

output = sumLists(list1, list2)
print(output)

[9, 11, 7, 9]

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [70]:
def names(name):
    name_parts = name.split()
    return name_parts[0], name_parts[-1]
name = input('Enter Your Full Name: ')
print('Your Name is: ' +name)
first_name, last_name = names(name)
print(f"First Name: {first_name}")
print(f"Last Name: {last_name}")

Enter Your Full Name: Tridib Sarkar
Your Name is: Tridib Sarkar
First Name: Tridib
Last Name: Sarkar

# Output Formatting (Optional)
Go to the [link](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals) and practice the codes below.

In [ ]:
# code here